body {
    font-family: "Inter";
    overflow: hidden;
    background-color: #355070;
    width: 360px;
    margin: 0 auto;
}
main {
    width: inherit;
    height: 100vh;
    background-color: #050a30;
    border-radius: 15px 15px;
}

.container {
    position: relative;
    top: 10rem;
    width: 340px;
    height: 550px;
    margin: 0 auto;
    border-radius: 15px 15px;
    background-color: #000c66;

}

button {
    display: flex;
    margin: 10px auto;
    height: 53px;
    width: 300px;
    background-color: #050A30;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px 10px;
}

button:hover {
    cursor: pointer;
}

a:active {
    color: #000c66;
}


img {
    position: relative;
    top: 1.5rem;
    left: 8rem;
    height: 5rem;
    width: 5rem;
    border: 1px solid rgba(14, 235, 213, 0.979);
    border-radius: 50%;
    
}

h2 {
    font-size: 0.90rem;
}

h1, h2{
    text-align: center;
    color: whitesmoke;
}

h1 {
    position: relative;
    top: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
}
.address {
    color: rgba(14, 235, 213, 0.979);
    font-size: 600;;
}



@media only screen and (min-width: 600px) {
    body {
        width: 100vw;
    }
    
}
